/* Fonts */
* {
    font-family: "Rubik Mono One", sans-serif;
    text-align: center;
    color: white;
    pointer-events: none;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

/* Layout */
.fill-parent {
    width: 100%;
    height: 100%;
}

.img-cover {
    object-fit: cover;
}

.img-contain {
    object-fit: contain;
}

.stack {
    position: relative;
}

.stack>* {
    position: absolute;
}

.flex {
    display: flex;
}

.flex-center-children {
    justify-content: center;
    align-items: center;
}

/* Visuals */

.blur {
    backdrop-filter: blur(0.7rem);
    background-color: rgba(200, 200, 200, 0.3);
}

.center-card {
    aspect-ratio: 16/9;
    width: 1920px;
    border-radius: 2rem;
    max-width: min(90%, 40rem);
    max-height: min(90%);
    cursor: pointer;
}

.center-card>img {
    border-radius: 2rem;
}

h1 {
    font-size: 2rem;
}

h1,
h2 {
    margin: 1rem;
}

.black-background {
    background-color: black;
}

.click {
    pointer-events: auto;
    cursor: pointer;
}

.fader {
    opacity: 0;
    /* Animated with gsap. */
}